article,
section,
time,
aside {
  display: block;
}

body {
  color: #9f9f9f;
  background: #fff;
  font-size: 1.16em;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

.point-time {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 17px;
  left: 40%;
  background: #1c87bf;
  margin-left: -4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}

.text-red {
  color: #f6393f;
}

.text-blue {
  color: #1c87bf;
}
.text-grew {
  color: #9f9f9f;
}
.text-green {
  color: #95c91e;
}

.text-yellow {
  color: #ffb902;
}

.text-purple {
  color: #d32d93;
}

.point-red {
  background-color: #f6393f;
}

.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #95c91e;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}
.leftContent {
  width: 600px;
  margin: 0 15px;
  min-height: 800px;
  float: left;
}
article {
  position: relative;
  border-radius: 25px;
  width: 500px;
}
article:hover {
  cursor: pointer;
  border: #fa6854 solid 1px;
  transition: 1s;
}
.tagItem {
  width: 60%;
  float: left;
  min-height: 660px;
}
.tagItem article:first-child h3 {
  color: #036564;
}
.tagItem article:nth-child(8n-7) h3 {
  color: #beedc7;
}
.tagItem article:nth-child(8n-6) h3 {
  color: #eb6841;
}
.tagItem article:nth-child(8n-5) h3 {
  color: #3fb8af;
}
.tagItem article:nth-child(8n-4) h3 {
  color: #19caad;
}
.tagItem article:nth-child(8n-3) h3 {
  color: #fc9d9a;
}
.tagItem article:nth-child(8n-2) h3 {
  color: #edc951;
}
.tagItem article:nth-child(8n-1) h3 {
  color: #ed4014;
}
.tagItem article:nth-child(8n) h3 {
  color: #2db7f5;
}
article h3 {
  width: 35%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  padding: 10px 0 20px;
}
article section {
  padding: 0 0 17px;
  position: relative;
  margin-left: 25px;
}
article section:before {
  content: "";
  width: 5px;
  top: 17px;
  bottom: -17px;
  left: 40%;
  background: #e6e6e6;
  position: absolute;
}
article section:last-child:before {
  display: none;
}
article a {
  color: #1d1d1d;
  text-decoration: none;
}
article a:hover {
  transition: 0.5s;
  color: #1c87bf;
  text-decoration: underline;
}
article section time {
  width: 25%;
  display: block;
  position: absolute;
}
article section time > span {
  display: block;
  text-align: right;
}
article section aside {
  color: #3a3a38;
  margin-left: 45%;
  padding-bottom: 15px;
}
article section .brief {
  color: #9f9f9f;
}
.ad {
  float: left;
  width: 300px;
  min-height: 800px;
  border-radius: 10px;
  border: #999 solid 1px;
}
.ad:hover {
  border: #fc9d9a solid 1px;
  transition: 0.5s;
}
.whitebg {
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.htitle {
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  color: #484848;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
}
.cloud ul a {
  line-height: 24px;
  height: 24px;
  display: block;
  background: #999;
  float: left;
  padding: 3px 10px;
  margin: 10px 5px 0 0;
  border-radius: 3px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.cloud ul a:hover {
  color: black;
  transition: 0.5s;
}
.cloud ul a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.cloud ul a:first-child {
  background: #036564;
}
.cloud ul a:nth-child(8n-7) {
  background: #beedc7;
}
.cloud ul a:nth-child(8n-6) {
  background: #eb6841;
}
.cloud ul a:nth-child(8n-5) {
  background: #3fb8af;
}
.cloud ul a:nth-child(8n-4) {
  background: #19caad;
}
.cloud ul a:nth-child(8n-3) {
  background: #fc9d9a;
}
.cloud ul a:nth-child(8n-2) {
  background: #edc951;
}
.cloud ul a:nth-child(8n-1) {
  background: #ed4014;
}
.cloud ul a:nth-child(8n) {
  background: #2db7f5;
}
@media screen and (max-width: 475px) {
  .ad{
    display: none;
  }
  .tagItem{
    width: 100%;
  }
  article{
    width: 100%;
  }
  article section time{
    width: 35%;
  }
  article h3{
    width: 50%;
  }
}