.link-content-middle .layui-elem-field legend {
  font-weight: 500;
}

.link-content-middle .layui-elem-quote p {
  margin: 10px 0 10px 0;
  color: black;
}

.link-content-middle .layui-elem-quote h1,
span {
  color: black;
}

.link-content-middle .layui-elem-quote h1 {
  font-size: 16px;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.link-content-middle .layui-elem-quote .demand .layui-icon-ok {
  color: #5fb878;
}

.link-content-middle .layui-elem-quote .demand .layui-icon-close {
  color: red;
}

.link-list ul .list-item {
  float: left;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.fh5co-project-item figure {
  overflow: hidden;
  position: relative;
}

.fh5co-project-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.fh5co-project-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.fh5co-project-item img {
  height: 175px;
  width: 195px;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.fh5co-project-item .fh5co-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}

.fh5co-project-item .fh5co-text h2,
.fh5co-project-item .fh5co-text span {
  text-decoration: none !important;
}

.fh5co-project-item .fh5co-text h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #FF4500;
}

.fh5co-project-item .fh5co-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}

.fh5co-project-item .fh5co-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-project-item:hover,
.fh5co-project-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.fh5co-project-item:hover img,
.fh5co-project-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.fh5co-project-item:hover figure .overlay,
.fh5co-project-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}

.fh5co-project-item:hover figure .overlay i,
.fh5co-project-item:focus figure .overlay i {
  margin-top: -15px;
}

.fh5co-project-item:hover h2,
.fh5co-project-item:hover span,
.fh5co-project-item:focus h2,
.fh5co-project-item:focus span {
  text-decoration: none !important;
}

@media screen and (max-width: 475px) {
  .link-list ul {
    width: 100%;
  }

  .link-list ul li {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0px 20px;
  }

  .fh5co-project-item img {
    margin: 0 auto;
  }

  .fh5co-text {
    height: 80px !important;
  }
}