html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 1.5rem;
  width: 100%;
}

.warp {
  margin-top: 10px;
}

.content-header {
  display: inline-block;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-header .warp-content {
  width: 900px;
  margin: 0 auto;
  margin-top: 80px;
  color: white;
}

.warp-content .title {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 30px;
  padding: 0 0 15px 15px;
}

.warp-content .info {
  padding: 0 15px;
  line-height: 24px;
}


.warp-content .info p {
  text-align: center;
}

.warp-content .info span {
  margin-top: 110px;
  color: white;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  vertical-align: middle;
  font-weight: normal;
}

.warp-content .info span:hover {
  cursor: pointer;
  color: #eb6841;
  transition: 0.5s;
}

.title:hover {
  cursor: pointer;
  color: #2db7f5;
  transition: 0.5s;
}

.class {
  line-height: 1.25;
  font-weight: normal;
  padding: 0 15px;
}

.class:hover {
  cursor: pointer;
  color: #e97aaeb4 !important;
  transition: 0.5s;
}


.details-warp {
  width: 870px;
  float: left;
  background-color: #fff;
}

.w-e-text {
  overflow-y: hidden !important;
}

.article-content {
  margin-left: 62px;
  border-radius: 10px;
  width: 800px;
  padding: 4px;
}

.container {
  position: relative;
  box-sizing: border-box;
}

.article-content img {
  float: none;
  max-width: 100%;
  max-height: 700px;
}

.article-content>a {
  text-decoration: none;
  color: #2db7f5;
}

.article-content>p,
h1,
h2,
h3,
h4,
h5,
span {
  font-weight: normal;
  text-align: justify;
}

.article-content h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.article-content h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.article-content h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.article-content h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.article-content figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  margin: .5rem;
  text-align: center;
}

.article-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: .5rem 0;
}

.article-content blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  display: block;
  border-left: 0.5rem solid #6bd6fd;
  background-color: rgba(107, 214, 253, 0.2);
  padding: .25rem .75rem;
  margin: 1rem 0;
}

.article-content pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  font-size: 1em;
  margin: 0;
  padding: .25rem 0 .25rem .5rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f5f5f5;
}

.article-content code {
  display: inline-block;
  max-width: 100%;
  padding: 0 .4rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-line-break: anywhere;
  -ms-line-break: anywhere;
  line-break: anywhere;
  font-size: .875rem;
  font-family: Source Code Pro, Menlo, Consolas, Monaco, monospace, system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #E74C3C;
}

.cont {
  width: 100% !important;
}

.main-reply {
  width: 100% !important;
}

.comment {
  width: 100% !important;
}

.sec-coment {
  width: 800px !important;
}

.fir-reply {
  float: left;
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}

.sec-reply {
  float: left;
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}

.share-info {
  margin-left: 62px;
  margin-top: 50px;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  border-color: #e6e6e6;
}

.share h4 {
  font-weight: 600;
}

.quote-nm {
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  background: 0 0;
}

.elem-quote {
  margin-bottom: 10px;
  padding: 15px;
  line-height: 22px;
  border-left: 5px solid #67c23a;
  border-radius: 0 2px 2px 0;
  background-color: #f2f2f2;
}

.ad {
  float: right;
  width: 300px;
  min-height: 800px;
  border-radius: 10px;
  border: #999 solid 1px;
}

.ad:hover {
  border: #fc9d9a solid 1px;
  transition: 0.5s;
}

.whitebg {
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.htitle {
  font-size: 20px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  color: #484848;
  font-weight: weight;
  position: relative;
  margin-bottom: 10px;
}

.cloud ul a {
  line-height: 24px;
  height: 24px;
  display: block;
  background: #999;
  float: left;
  padding: 3px 10px;
  margin: 10px 5px 0 0;
  border-radius: 3px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.cloud ul a:hover {
  color: black;
  transition: 0.5s;
}

.cloud ul a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.cloud ul a:first-child {
  background: #428BCA;
}

.cloud ul a:nth-child(11n-10) {
  background: #4A4A4A;
}

.cloud ul a:nth-child(11n-9) {
  background: #5CB85C;
}

.cloud ul a:nth-child(11n-8) {
  background: #567E95;
}

.cloud ul a:nth-child(11n-7) {
  background: #beedc7;
}

.cloud ul a:nth-child(11n-6) {
  background: #eb6841;
}

.cloud ul a:nth-child(11n-5) {
  background: #3fb8af;
}

.cloud ul a:nth-child(11n-4) {
  background: #B433FF;
}

.cloud ul a:nth-child(11n-3) {
  background: #fc9d9a;
}

.cloud ul a:nth-child(11n-2) {
  background: #edc951;
}

.cloud ul a:nth-child(11n-1) {
  background: #ed4014;
}

.cloud ul a:nth-child(11n) {
  background: #2db7f5;
}

.editor {
  display: block;
  left: 10px;
  width: 800px !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.editor h3 {
  margin: 10px 15px;
}

.editor .btn-up {
  float: right;
}

.comments {
  margin-left: 40px;
}

.comments h3 {
  margin: 30px 15px;
}

.like {
  color: #fff;
  text-decoration: none;
}

.fa-heart:hover {
  transition: 0.5s;
  color: red;
}

.smartideo {
  z-index: 0;
  text-align: center;
  background: #ccc;
  line-height: 0;
  text-indent: 0;
}

.smartideo embed,
.smartideo iframe {
  padding: 0;
  margin: 0;
}

.smartideo .player {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.smartideo .player a.smartideo-play-link {
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px;
}

.smartideo .player a.smartideo-play-link p {
  display: none;
}

.smartideo .player .smartideo-play-button {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #fff;
  border-bottom: 25px solid transparent;
}

.smartideo .tips {
  background: #f2f2f2;
  text-align: center;
  max-height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.smartideo .tips a {
  text-decoration: none;
}

.player {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.info span {
  line-height: 21px;
  text-align: center;
  text-anchor: middle;
}

svg {
  font-size: 18px;
  text-anchor: middle;
}

.tags:hover {
  color: deepskyblue !important;
}

.article-content img {
  max-width: 100%;
}

li {
  list-style: none;
  padding: 1.5 1.5;
}

.article-content p {
  padding: 1.5 1.5;
}

@media screen and (max-width: 475px) {
  .ad {
    display: none;
  }

  .details-warp {
    width: 97.5% !important;
    margin: 3px 3px;
  }

  .article-content {
    width: 100% !important;
    margin: 3px 3px;
  }

  .article-content>p {
    margin: 10px;
  }
}